In [1]:
import pandas as pd

In [81]:
covid_df = pd.read_csv('covid-data.csv', parse_dates=['date'])

In [82]:
covid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101993,ZWE,Africa,Zimbabwe,2021-07-08,62383.0,2156.0,1594.571,2029.0,56.0,31.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
101994,ZWE,Africa,Zimbabwe,2021-07-09,65066.0,2683.0,1771.857,2084.0,55.0,34.714,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
101995,ZWE,Africa,Zimbabwe,2021-07-10,66853.0,1787.0,1884.000,2126.0,42.0,38.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
101996,ZWE,Africa,Zimbabwe,2021-07-11,67765.0,912.0,1898.714,2185.0,59.0,43.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
101997,ZWE,Africa,Zimbabwe,2021-07-12,70426.0,2661.0,2058.857,2236.0,51.0,46.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [83]:
covid_ua = covid_df[covid_df.location == 'Ukraine']
covid_ua

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
95104,UKR,Europe,Ukraine,2020-03-03,1.0,1.0,NaN,NaN,NaN,NaN,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
95105,UKR,Europe,Ukraine,2020-03-04,1.0,0.0,NaN,NaN,NaN,NaN,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
95106,UKR,Europe,Ukraine,2020-03-05,1.0,0.0,NaN,NaN,NaN,NaN,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
95107,UKR,Europe,Ukraine,2020-03-06,1.0,0.0,NaN,NaN,NaN,NaN,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
95108,UKR,Europe,Ukraine,2020-03-07,1.0,0.0,NaN,NaN,NaN,NaN,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95596,UKR,Europe,Ukraine,2021-07-08,2308142.0,1074.0,988.714,54894.0,34.0,35.714,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
95597,UKR,Europe,Ukraine,2021-07-09,2309264.0,1122.0,988.571,54917.0,23.0,32.857,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
95598,UKR,Europe,Ukraine,2021-07-10,2310246.0,982.0,965.857,54949.0,32.0,30.571,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
95599,UKR,Europe,Ukraine,2021-07-11,2311025.0,779.0,959.143,54964.0,15.0,29.429,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN
95600,UKR,Europe,Ukraine,2021-07-12,2311690.0,665.0,953.857,54981.0,17.0,28.143,...,0.1,539.849,7.11,13.5,47.4,NaN,8.8,72.06,0.779,NaN

In [84]:
covid_ua.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [52]:
covid_ua[['total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations']]

,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations
95104,NaN,NaN,NaN,NaN
95105,NaN,NaN,NaN,NaN
95106,NaN,NaN,NaN,NaN
95107,NaN,NaN,NaN,NaN
95108,NaN,NaN,NaN,NaN
...,...,...,...,...
95596,3306008.0,2223406.0,1082602.0,109160.0
95597,3420668.0,2277226.0,1143442.0,114660.0
95598,3462976.0,2298300.0,1164676.0,42308.0
95599,3489332.0,2311690.0,1177642.0,26356.0
95600,3572509.0,2357225.0,1215284.0,83177.0

In [32]:
covid_ua.drop(['iso_code', 'continent', 'location', 'handwashing_facilities'], axis = 1)

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
95104,2020-03-03,1.0,1.0,NaN,NaN,NaN,NaN,0.023,0.023,NaN,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
95105,2020-03-04,1.0,0.0,NaN,NaN,NaN,NaN,0.023,0.000,NaN,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
95106,2020-03-05,1.0,0.0,NaN,NaN,NaN,NaN,0.023,0.000,NaN,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
95107,2020-03-06,1.0,0.0,NaN,NaN,NaN,NaN,0.023,0.000,NaN,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
95108,2020-03-07,1.0,0.0,NaN,NaN,NaN,NaN,0.023,0.000,NaN,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95596,2021-07-08,2308142.0,1074.0,988.714,54894.0,34.0,35.714,52777.124,24.558,22.608,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
95597,2021-07-09,2309264.0,1122.0,988.571,54917.0,23.0,32.857,52802.779,25.655,22.604,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
95598,2021-07-10,2310246.0,982.0,965.857,54949.0,32.0,30.571,52825.233,22.454,22.085,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
95599,2021-07-11,2311025.0,779.0,959.143,54964.0,15.0,29.429,52843.045,17.812,21.931,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN
95600,2021-07-12,2311690.0,665.0,953.857,54981.0,17.0,28.143,52858.251,15.206,21.811,...,7894.393,0.1,539.849,7.11,13.5,47.4,8.8,72.06,0.779,NaN

In [85]:
covid_ua_stat = covid_ua[['date', 'new_cases', 'new_deaths', 'new_cases_per_million', 'new_tests', 'new_vaccinations']]
covid_ua_stat

,date,new_cases,new_deaths,new_cases_per_million,new_tests,new_vaccinations
95104,2020-03-03,1.0,NaN,0.023,NaN,NaN
95105,2020-03-04,0.0,NaN,0.000,NaN,NaN
95106,2020-03-05,0.0,NaN,0.000,NaN,NaN
95107,2020-03-06,0.0,NaN,0.000,NaN,NaN
95108,2020-03-07,0.0,NaN,0.000,NaN,NaN
...,...,...,...,...,...,...
95596,2021-07-08,1074.0,34.0,24.558,17945.0,109160.0
95597,2021-07-09,1122.0,23.0,25.655,18341.0,114660.0
95598,2021-07-10,982.0,32.0,22.454,18520.0,42308.0
95599,2021-07-11,779.0,15.0,17.812,12885.0,26356.0
95600,2021-07-12,665.0,17.0,15.206,9606.0,83177.0

In [86]:
total_cases = covid_ua_stat.new_cases.sum()
total_deaths = covid_ua_stat.new_deaths.sum()

print('The number of reported cases is {} and the number of reported deaths is {}.'.format(int(total_cases), int(total_deaths)))

The number of reported cases is 2311690 and the number of reported deaths is 54981.

In [87]:
death_rate = total_deaths / total_cases 

print("The overall reported death rate in Ukraine is {:.2f} %.".format(death_rate*100))

The overall reported death rate in Ukraine is 2.38 %.

In [88]:
total_tests = covid_ua_stat.new_tests.sum()

In [89]:
positive_rate = total_cases / total_tests

In [90]:
print('{:.2f}% of tests in Ukraine led to a positive diagnosis.'.format(positive_rate*100))

28.40% of tests in Ukraine led to a positive diagnosis.

In [91]:
covid_ua_stat.sort_values('new_cases', ascending=False).head(10)

,date,new_cases,new_deaths,new_cases_per_million,new_tests,new_vaccinations
95500,2021-04-03,20456.0,403.0,467.739,58951.0,NaN
95499,2021-04-02,20003.0,441.0,457.381,58944.0,18812.0
95506,2021-04-09,19799.0,425.0,452.717,53373.0,19858.0
95505,2021-04-08,19546.0,471.0,446.932,57996.0,18569.0
95492,2021-03-26,18226.0,331.0,416.749,53495.0,NaN
95498,2021-04-01,17681.0,429.0,404.287,59803.0,19099.0
95513,2021-04-16,17602.0,443.0,402.481,47421.0,13044.0
95507,2021-04-10,17587.0,405.0,402.138,54420.0,4048.0
95493,2021-03-27,17526.0,295.0,400.743,55500.0,NaN
95491,2021-03-25,16762.0,369.0,383.274,NaN,NaN

In [95]:
covid_ua_stat.sort_values('new_vaccinations', ascending=False).head(10)

,date,new_cases,new_deaths,new_cases_per_million,new_tests,new_vaccinations
95597,2021-07-09,1122.0,23.0,25.655,18341.0,114660.0
95596,2021-07-08,1074.0,34.0,24.558,17945.0,109160.0
95595,2021-07-07,1062.0,45.0,24.283,20240.0,104680.0
95583,2021-06-25,1204.0,63.0,27.530,19481.0,97130.0
95582,2021-06-24,1248.0,67.0,28.536,22496.0,96180.0
95594,2021-07-06,993.0,31.0,22.706,20151.0,93554.0
95600,2021-07-12,665.0,17.0,15.206,9606.0,83177.0
95575,2021-06-17,1388.0,61.0,31.737,27036.0,81703.0
95587,2021-06-29,581.0,14.0,13.285,10930.0,81637.0
95581,2021-06-23,1126.0,79.0,25.747,26280.0,79921.0

In [94]:
covid_ua_stat['date'] = pd.to_datetime(covid_ua_stat.date)

<ipython-input-94-04fdd19c7525>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_ua_stat['date'] = pd.to_datetime(covid_ua_stat.date)